@keyframes slide-progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.animate-slide-progress {
  animation: slide-progress 7.5s linear forwards;
}

.swiper-slide-prev,
.swiper-slide-next {
  transform: scale(0.85) !important;
  filter: grayscale(60%) brightness(0.8);
  opacity: 0.6;
}